
@{
    ViewBag.Title = "Matricula";
}


<div>
    <div class="row smart-form contentMain">
        <center>
            <h2>Hoja de Matricula</h2>
        </center>
        <hr>
        <div class="row content-form-edit">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <form class="smart-form">
                    <div class="well">
                        <div class="row" align="center">
                            <section class="col col-sm-12 col-md-12 col-lg-12">
                                <label style="padding-right: 214px;">Nombres:</label>
                                <input type="text" class="form-control" id="" placeholder="Ingrese sus Nombres">
                            </section>

                            <section class="col col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
                                <label style="padding-right: 210px;">Apellidos:</label>
                                <input type="text" class="form-control" id="" placeholder="Ingrese sus Apellidos">
                            </section>

                            <section class="col col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
                                <div class="form-group">
                                    <label style="padding-right: 240px;">Sexo:</label>
                                    <select class="form-control" id="">
                                        <option>Femenino</option>
                                        <option>Masculino</option>
                                    </select>
                                </div>
                            </section>


                            <section class="col col-sm-12 col-md-12 col-lg-12">
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                                        <div class="form-group">
                                            <label for="">Departamento:</label>
                                            <select class="form-control" id="">
                                                <option>Managua</option>
                                                <option>León</option>
                                                <option>Granada</option>
                                            </select>
                                        </div>

                                    </div>


                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="">Municipio:</label>
                                            <select class="form-control" id="">
                                                <option>xxx</option>
                                                <option>aaaaa</option>
                                                <option>bbbb</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </form>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <form class="smart-form">
                    <div class="well">
                        <div class="row">
                            <div align="center">
                                <section class="col col-sm-12 col-md-12 col-lg-12">
                                    <label style="padding-right: 227px;">Correo:</label>
                                    <input type="email" class="form-control" id="" placeholder="Email">
                                </section>

                                <section class="col col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
                                    <label style="padding-right: 218px;">Télefono:</label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                </section>

                                <section class="col col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
                                    <label style="padding-right: 140px;">Dirección domiciliar:</label>
                                    <textarea rows="4" class="form-control" cols="100"> </textarea>
                                </section>
                            </div>

                            <div align="right">
                                <section class="col col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
                                    <button type="button" id="" class="btn btn-success">Guardar</button>
                                </section>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

